.apps {
  .violet {
    @include bg_image("../img/bg.jpeg");
    background-position-y: bottom;
    height: 715px;
    position: relative;
    @media (max-width: $phone) {
      height: 357px;
    }
    .row {
      @include flex($dir: true);
      justify-content: flex-start;
      @media (max-width: $phone) {
        justify-content: center;
      }
      h2 {
        margin-top: 77px;
        @media (max-width: $phone) {
          font-size: 11.6vw;
          margin-top: 0;
        }
      }
      p {
        margin-bottom: 37px;
        @media (max-width: $phone) {
          margin-bottom: 0px;
        }
      }
    }
    .iphone {
      height: 742px;
      @media (max-width: $phone) {
        display: none;
      }

      img {
        margin: 0 auto;
        display: block;
        height: inherit;
        width: 417px;
        object-fit: scale-down;
      }
    }
  }
  .white {
    display: flex;
    .blocks {
      padding-top: 350px;
      padding-bottom: 200px;
      @media (max-width: $tablet) {
        padding-bottom: 98px;
      }
      @media (max-width: $phone) {
        padding-bottom: 61px;
        flex-direction: column;
        align-self: start;
        padding-top: 40px;
      }
      h3 {
        margin: 15px 0;
      }
      p {
        color: $gray;
        font-size: 17px;
        font-family: $font_r;
      }
    }
  }
}
@media (max-width: $tablet) and (min-width: $phone) {
  .container.white {
    padding-left: 20%;
    padding-right: 20%;
  }
  .row.blocks {
    flex-direction: column;
    align-self: flex-end;
  }
}
.block_1 {
  @include border_top_block(#6d3f96);
}
.block_2 {
  @include border_top_block($marine);
}
.block_3 {
  @include border_top_block(#fdc05d);
}
