.firstscreen {
  @include bg_image('../img/firstscreen.jpeg');
  height:892px;
  .header {
    height: 80px;
    margin-bottom: -90px;
    img {
      display: block;
      height: 40px;
      text-align: left;
    }
  
  a {
    color: $white;
    text-align: right;
    font-size: 14px;
    font-family: $font_r;
    text-decoration: none;
  }
  .menu {
    gap: 15px;
    display: flex;
    height: 15px;
    flex-shrink: 0;
    justify-content: flex-end;
  }}
  .row.group {
    @include flex_column;
    margin-top:10px;

    @media (max-width: $tablet) {
      margin-top:0px;
    }
  .mouse {
    height: 50px;
    @media (max-width: $phone) {display: none;}
  }
  @media(max-width:$phone){
    h1 + p{margin-bottom: 31px;}
    
}  }}