.footer {
  @include bg_color($white);
  color: $gray;
  height: $init_height_footer;
  .row {
    @media(max-width:$phone){
        @include flex($dir:true)
    }
    height: inherit;
    .copyright {
      font-size: 21px;
      text-align: center;
    }
    .social {
      @include flex($dir: false);
      gap: 20px;
      transition: 0.2s ease-in-out;
      & img:hover {
        filter: brightness(1.5) contrast(1.9) grayscale(0.03) hue-rotate(262deg)
          invert(1);
      }
    }
    @media (max-width: $tablet) {
      @include flex($dir: true);
    }
  }
}
