* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: $font_m;
  color: $white;
  h1,
  h2 {
    font-weight: 800;
    text-align: center;
  }
  h1 {
    font-size: 55px;
    line-height: 57px;
  }
  h2 {
    font-size: 40px;
    @media (max-width: $phone){

    font-size: 11.6vw;
  }
}
  h3 {
    color: $black;
    font-size: 17px;
  }
  h1 + p,
  h2 + p {
    color: $white;
    font-size: 21px;
    text-align: center;
  }
  // h2 {
  //   margin-top: 77px;
  // }
  .row {
    display: flex;
    gap:30px;
    flex-direction: row;
  }
  button, input[type=button] {
    width: 175px;
    height: 55px;
    text-transform: uppercase;
    font-size: 14px;
    border: 0;
    border-radius: 4px;
    padding: 20px;
    font-family: $font_m;
    cursor:pointer;
    &.learn_more {
      background-color: $white;
      color: $gray;
      transition:0.2s ease-in-out;
      &:hover{
    font-weight: 800;
        transform:scale(1.1);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      }
    }
    &.request_invite {
      background-color: $marine;
      color: $white;
      transition:0.2s ease-in-out;
      &:hover{
        font-weight: 800;
            transform:scale(1.1);
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          }
    }
  }
  form{width:100%;}
  input[type=email]{
    width:380px;
    border-radius: 3px;
    border:0;
    height:55px;
    padding-left:35px;
    font-size: 21px;
    font-family: $font_m;
    @media (max-width: $tablet) {
      max-width:474px;
      
  
  }
  @media (max-width: $phone) {
    max-width:364px;
    width:100%;
   
  }

  &::placeholder{
    font-size: 21px;
    font-family: $font_m;
    color:$gray;
  }
&:focus{
  border:1px solid $silver;
  outline: none;
}}
  .container {
    @media screen and (min-width: $tablet) {
      padding: {
        left: $init_padding_desktop;
        right: $init_padding_desktop;
      }
    }
    @media (max-width: $tablet) and (min-width: $phone){
      padding: {
        left: 15%;
        right: 15%;
      }
    }
    @media (max-width: $phone) {
      padding: {
        left: $init_padding_phone;
        right: $init_padding_phone;
      }
    }
    .row {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  @media (max-width: $tablet) {
    section.firstscreen .header {
      height: 92px;
      img {
        height: 24px;
      }
    }

    h1 {
      margin-bottom: 46px;
      @media(max-width:$phone){
        line-height: 65px;
      }
    }
    
    .buttons {
      margin-top: 30px;
      margin-bottom: 44px;
    }

  }
  @media (max-width: $phone) {
    .firstscreen .header {
      height: 92px;
      margin-bottom: 55px;
      img {
        height: 24px;
      }
    }

    .firstscreen .row.buttons {
      flex-wrap: wrap;
      
      button {
        width: 237px;
      }
    }
    .mouse,
    .iphone {
      display: none;
    }
  }
}
 
  @media(max-width:$phone){
    h1 + p{margin-bottom: 31px;}
    .subscribe input[type=button], .firstscreen input[type=button]{width:237px;}
}
