@mixin bg_image($link){
  background: {
    image:url($link);
    position: top center;
    repeat: no-repeat;
    size: cover;
    }
}
@mixin bg_color($color){
    background-color: $color;
    height: inherit;
    
}
@mixin container_padding_x {
padding: {
      left: $init_padding_desktop;
      right: $init_padding_desktop;
    }
  @media (max-width: $tablet) {
    padding: {
      left: $init_padding_phone;
      right: $init_padding_phone;
    }
  }
}

@mixin flex($dir:false){
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap:30px;
  
  @if $dir{
    flex-direction: column;
    height: inherit;
    justify-content: center;
  }
}


@mixin border_top_block($color){
  border-top: 4px solid $color;
}