.pricing {
  .container {
    background-color: $marine;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    
    .row {
      flex-direction: column;
      h2 {
        color: $white;
        margin-bottom: 30px;
      }
      p {
        font-size: 21px;
        text-align: center;
        margin-bottom: 61px;
      }
    }
    .offers {
      flex-direction: row;
      gap: 30px;
      padding-bottom:200px;
      justify-content: space-evenly;
     
      @media (max-width: $tablet) {
        flex-direction: column;
        padding-bottom:108px;
      }
      @media (max-width: $phone) {
        flex-direction: column;
        padding-bottom:86px;
      }
      p {
        margin: 0;
      }
      .offer {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 10px 10px 0px 0px;
        overflow: auto;

        width: 100%;
        max-width: 380px;
        @media (max-width:$tablet){
          padding: 0;
          max-width: initial;
        }
        @media (max-width: $phone) {
          padding: 0;
        }
        .name {
          background-color: $black;
          font-size: 14px;
          padding: 15px;
          height: 48px;
          width: inherit;
          
        }
        .cost {
          background: #332f30;
          width: inherit;
          height: 48px;

          span:nth-child(1) {
            font-size: 35px;
            font-weight: 700;
          }
          span:nth-child(2) {
            color: $gray;
          }
        }
        .desc {
          font-size: 17px;
          font-family: $font_r;
          line-height: 22px;
          background-color: $white;
          color: $gray;
          width: inherit;
          padding: 12px 20px;
          border-bottom: 1px dashed #e8eaea;
        }
        .how_projects,
        .how_storage,
        .other {
          font-size: 17px;
          font-family: $font_r;
          font-weight: 700;
          color: $black;
          background-color: $white;
          width: inherit;
          min-height: 44px;
          border-bottom: 1px dashed #e8eaea;
          padding: 11px;
        }
        button {
          text-transform: uppercase;
          background-color: #ededed;
          color: $marine;
          border: 0;
          width: inherit;
          font-size: 17px;
          height: 52px;
          font-family: $font_r;
          font-weight: 700;
        }
      }
    }
  }
}
