.subscribe {
  height: $init_height_subscribe;
  @media (max-width: $phone) {
    height: 721px;
  }
  .container {
    @include bg_color($silver);
    .row {
      @include flex($dir: true);
    }
    h2 {
      color: $black;
    }
    p {
      margin-bottom: 30px;
      color: $black;
      @media (max-width: $phone) {
        margin-bottom: 0px;
      }
    }
    .form_subscribe {
      @include flex($dir: true);
    }
  }
}
@media (max-width: $phone) {
  .envelope {
    margin-bottom: 6px;
    img {
      height: 107px;
    }
  }
}
