$white:#fff;
$marine:#70CBCE;
$gray:#929496;
$black: #231F20;
$font_m:'Montserrat', sans-serif;
$font_r:'Raleway',sans-serif;
// Розміри екранів
$desctop:1440px;
$tablet:768px;
$phone:414px;
$initial_x_padding:120px;